* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(257, 40%, 49%);
    color: white;
    font-family: "Poppins", sans-serif;
}

.navbar {
    padding: 20px 60px;
}

.logo img {
    width: 150px;
}

.hero {
    background-image: url(../Img/bg-desktop.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
}

.hero-img {
    flex: 1;
}

.hero-img img {
    width: 100%;
    max-width: 600px;
}

.hero-content {
    max-width: 500px;
}

.hero-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-content p {
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-btn {
    display: inline-block;
    background: #fff;
    color:  hsl(257, 40%, 49%);
    padding: 12px 30px;
    border-radius: 25px;
    text-decoration: none;
}

.hero-btn:hover {
    background: hsl(300, 69%, 71%);
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 20px 60px;
}